* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #FFF;
}

.hero {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgba(229, 84, 115, 0.10);
}

.hero .hero-main {
    width: 1440px;
    justify-content: center;
    display: flex;
}

.hero .hero-main img {
    height: 800px;
}

.hero .hero-main .hero-text {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hero .hero-main .hero-text h1 {
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hero .hero-main .hero-text p {
    width: 634px;
    margin-top: 40px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
}

.hero .btn {
    background: #E55473;
    color: #FFF;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 177px;
    height: 64px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.features {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.features h1 {
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.features p {
    width: 634px;
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
}

.features .feature-flowers {
    width: inherit;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.features .feature-flowers div {
    height: 538px;
    width: 464px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    position: relative;

}


.features .feature-flowers div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features .feature-flowers div span {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 35px);
    /*(y,x)*/
    -webkit-transform: translate(-50%, 30px);
    -moz-transform: translate(-50%, 35px);
    -ms-transform: translate(-50%, 35px);
    -o-transform: translate(-50%, 35px);
    display: block;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    -webkit-transform: translate(-50%, 35px);
}

.support-card {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

    height: 320px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;

}

.support-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support-card div p{
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.85);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}


.sign-up-card {
    width: 100%;
    height: 620px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(229, 84, 115, 0.05);
    gap: 200px
}



.sign-up-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.sign-up-card div h1 {
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sign-up-card div p {
    width: 594px;
    margin-top: 25px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.sign-up-card div button {
    background: #E55473;
    color: #FFF;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 155px;
    height: 64px;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.todays-deal .insta-flowers div{
    background: #F3F3F3;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.todays-deal .insta-flowers div span{
    display: block;
}

.todays-deal .insta-flowers .type{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
    margin-top: 20px;
    padding-left: 20px;
}



.todays-deal .insta-flowers .name{
    color: rgba(39, 39, 39, 1);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 5px;
    padding-left: 20px;
}

.todays-deal .insta-flowers .dollar{
    display: block;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* .todays-deal .insta-flowers .name, .dollar */

.instagram-card {
    width: 1440px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-card h1 {
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instagram-card p {
    width: 634px;
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
}

.instagram-card .insta-flowers {
    width: inherit;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.latest-deals {
    height: 450px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    background: url(./resources/flower-shop-assignment/Flower-Asset/Rectangle\ 9.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-deals h1 {
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.latest-deals p {
    width: 634px;
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
}

.latest-deals form {
    margin-top: 50px;
}

.latest-deals form input[type=text] {
    height: 64px;
    width: 700px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
}

.latest-deals form input[type=submit] {
    background: #E55473;
    color: #FFF;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 150px;
    height: 64px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 15px;
}

footer {
    color: white;
    height: 450px;
    margin-top: 140px;
    width: 100%;
    background: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

footer p {
    width: 610px;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 00;
    line-height: 30px;
    text-align: center;
}

footer .copyright {
    color: rgba(255, 255, 255, 0.40);
    width: 634px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}